rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orbit_rooms/{roomCode} {
      allow read, write: if true;
    }
    match /orbit_user_rooms/{userId} {
      allow read, write: if true;
    }
  }
}
